<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="8002" />
        <serverProviders>
          <formatter ref="binary" typeFilterLevel="Full" />
        </serverProviders>
        <clientProviders>
          <formatter ref="binary" typeFilterLevel="Full"/>
        </clientProviders>
      </channels>
      <service>
        <wellknown mode="Singleton" type ="StromoLight_RemoteDrawingList.DrawingList,StromoLight_RemoteDrawingList"
        objectUri="TaskDesignerConnection" />
      </service>
    </application>
  </system.runtime.remoting>
</configuration>