<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Stromohab_WPF_UserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                  </configSections>
  <connectionStrings>
    <add name="stromohabDevEntities" connectionString="metadata=res://*/StromohabEntityDataModel.csdl|res://*/StromohabEntityDataModel.ssdl|res://*/StromohabEntityDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=clinician;password=stromohab;Persist Security Info=True;database=stromohabDev&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Stromohab_WPF_UserInterface.Properties.Settings>
      <setting name="CookieUri" serializeAs="String">
        <value>Environment.CurrentDirectory()</value>
      </setting>
    </Stromohab_WPF_UserInterface.Properties.Settings>
  </userSettings>
</configuration>