<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StroMoHab_Objects.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="StromoLight_Objects.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StroMoHab_Objects.Properties.Settings>
            <setting name="TexturesPath" serializeAs="String">
                <value>..\..\..\..\..\Resources\Textures</value>
            </setting>
            <setting name="DefaultIP" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRunAfterUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </StroMoHab_Objects.Properties.Settings>
        <StromoLight_Objects.Properties.Settings>
            <setting name="TexturesPath" serializeAs="String">
                <value>..\..\..\..\..\Resources\Textures</value>
            </setting>
        </StromoLight_Objects.Properties.Settings>
    </userSettings>
</configuration>